/**
 * Variables 
 */
:root{
    --c-mycolor : lightgray;

}

/**
 * Styling stared here
 */
#heading{
    font-size: large;
    font-weight: bolder;
    color: blue;
    text-align: center;

}
#nav_bar{
    background-color: var(--c-mycolor);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
#home{
    float: left;
    line-height: 50%;
  
}
#pre_body{
    background-color: var(--c-mycolor);
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}
#parent_div{
    width: 100%;
    /* background-color: red; */
    margin-bottom: 10px;
}
#side_bar{
    background-color: var(--c-mycolor);
    float: left;
    width: 30%;
    text-align: center;
    line-height: 400px;
    margin-right: 10px;
}

#text_body{
    background-color: var(--c-mycolor);
    float: right;
    width: 60%;
    text-align: center;
    line-height: 400px;
}
.clear_fix::after{
    content: "";
    display: block;
    clear: both;
}


#footer_div{
    background-color: var(--c-mycolor);
    width: 100%;
    text-align: center;
    line-height: 60px;
    
}
.main_div{
    width: 50%;
    margin: auto;
}